<div>
    <h3 class="desc">This will generate a weapon combo for you to use!</h3>
    <br>
    <h2 class="type">Special Weapons Allowed</h2>
    <div *ngIf="this.specialWeaponsAllowed" (click)="this.specialWeaponsAllowed = !this.specialWeaponsAllowed">
        <button type="button" class="type-changer type-allowed">
            <h2>Allowed</h2>
        </button>
    </div>
    <div *ngIf="!this.specialWeaponsAllowed">
        <button type="button" class="type-changer type-disallowed" (click)="this.specialWeaponsAllowed = !this.specialWeaponsAllowed">
            <h2>Disallowed</h2>
        </button>
    </div>
    <br>
    <br>
    <button type="button" class="selector" (click)="this.generateCombo()">
        Generate Weapon Combo
    </button>
    <br>
    <br>
    <div *ngIf="this.weaponCombo.length">
        <h2 class="weapons">{{this.weaponCombo.join(", ")}}</h2>
    </div>
</div>
