<div *ngFor="let value of this.legendChooserService.legendTypesAllowed" class="buttons">
    <div *ngIf="value.enabled">
        <button type="button" class="type-changer type-allowed" (click)="switchEnabled(value)">
            <h2 class="type">{{value.type}}</h2>
        </button>
    </div>
    <div *ngIf="!value.enabled">
        <button type="button" class="type-changer type-disallowed" (click)="switchEnabled(value)">
            <h2 class="type">{{value.type}}</h2>
        </button>
    </div>
</div>
<br>
<br>
<div>
    <button class="selector" (click)="this.selectLegend()">Select Legend</button>
    <br>
    <div class="selected-legend-info" *ngIf="this.selectedLegend">
        <h2 class="name">
            <b>{{this.selectedLegend.name}}</b>
        </h2>
        <a href="{{this.selectedLegend.infoLink}}" class="infoLink" target="_blank">
            {{this.selectedLegend.name}}'s Info
        </a>
    </div>
</div>
