/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    text-align: center;
}

.title {
    align-self: center;
    align-items: center;
    font-family: "Zen Dots", cursive !important;
}

body {
    background-color: #b32424;
}

.desc {
    font-family: "Kdam Thmor Pro", sans-serif !important;
}

.type-changer, .type {
    font-family: "Source Sans Pro", monospace;
}

.type-changer.type-allowed {
    background-color: #007706;
    transition-duration: 0.75s;
}

.type-changer.type-allowed:hover {
    background-color: #770600;
    cursor: pointer;
}

.type-changer.type-disallowed {
    background-color: #770600;
    transition-duration: 0.75s;
}

.type-changer.type-disallowed:hover {
    background-color: #007706;
    cursor: pointer;
}

.selector {
    border: 2px outset #c50000;
    background-color: black;
    color: #c50000;
    font-family: "Raleway", sans-serif;
    transition-duration: 0.85s;
    width: 150px;
    height: 50px;
}

.selector:hover {
    background-color: #c50000;
    color: black;
    cursor: pointer;
}